{
    "semi": true,
    "useTabs": false,
    "tabWidth": 2,
    "printWidth": 100,
    "singleQuote": true,
    "quoteProps": "consistent",
    "endOfLine": "lf",
  
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
  
    "proseWrap": "never",
    "htmlWhitespaceSensitivity": "css",
    "singleAttributePerLine": false
  }
  